.App {
  text-align: center;
}

.App-div {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.columnName {
  font-weight: bold;
}

ul li a.active {
  color: white;
}

ul li {
  display: inline;
  margin: 5px;
}

a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #61dafb;
}

.filter {
  margin: 10px;
  font-size: 18px
}

.filterTitle {
  font-size: 18px;
}

.table {
  margin: 20px;
  min-height: 100px;
}

.searchBar {
  margin: 30px;
}

.pagination {
  bottom:0%;
  width:100%; 
  opacity: 1;
}

.buttons {
  margin: 2px;
}

.search {
  margin-right: 3px;
  width: 250px;
}

.sort {
  font-size: 18px;
  margin-top: 15px;
}

.dropdown {
  margin-left: 10px;
}